<h1>Mon Petit Tennis</h1>

<app-new-team [players]="players"></app-new-team>

<h2>Classement ATP</h2>

<table mat-table [dataSource]="players" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.rank}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="movement">
      <th mat-header-cell *matHeaderCellDef> Evolution </th>
      <td mat-cell *matCellDef="let element"> {{element.movement}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Joueur </th>
      <td mat-cell *matCellDef="let element"> {{element.competitor.name}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef> Pays </th>
      <td mat-cell *matCellDef="let element"> {{element.competitor.country}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

